<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
 <div layout:fragment="content">
	
	<h1>게시글 목록</h1>
	<form th:object="${board}" name="frm">
	<input type = "hidden" name="pageNum" value="1">
	title:  <input th:field ="*{title}">
	content:  <input th:field= "*{content}">
	writer:  <input th:field= "*{writer}">
	<button type="reset"  class="btn btn-success">초기화</button>
	<button type="submit" class="btn btn-dark">조회하기</button>
	</form>
	<div><span>[[${#lists.size(pageInfo.list)}]]</span>건</div>
	<a th:href="@{/board/register}">등록</a>
		<table class="table">
			<tr>
			 <td>번호</td>
			 <td>제목</td>
			 <td>내용</td>
			 <td>글쓴이</td>
			 <td>작성일</td>
			 <td>수정</td>
			</tr>
				 <tr th:each="board : ${pageInfo.list}" th:class="${boardStat.even} ? 'back' : _">
				 <td th:text="${board.bno}"></td>
				 <td><a th:text="${board.title}" th:href="@{/board/info(id=${board.bno})}"></a></td>
				 <td><a th:text="${board.content}" th:href="@{/board/info(id=${board.bno})}"></a></td>
				 <td><a th:text="${board.writer}" th:href="@{/board/info(id=${board.bno})}"></a></td>
				 <td th:text="${#dates.format(board.regdate, 'yyyy-MM-dd')}"></td>
				 
				 <td><a th:href="@{/board/update(bno=${board.bno})}">수정</a>
				 <td><a th:href="@{/board/delete(bno=${board.bno})}">삭제</a>
				 </td>
			 </tr>
		</table>
		<div th:insert="~{layout/page :: page(${pageInfo})}"></div>
		<script th:inline= "javascript">
		let emplist = /*[[${list}]]*/[]  
		function gopage(pageNum) {
			frm.pageNum.value = pageNum;
			frm.submit();
		}
		</script>
	</div>
</body>
</html>