<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.example.demo.emp.mapper.EmployeeMapper">
 
 <sql id="criterio">
    <where>
    <if test="departmentId != null">
    and department_id = #{departmentId}
    </if>
    <if test="managerId != null">
    and manager_id = #{managerId}
    </if>
    <if test="firstName != null and firtstName != '' " >
    and upper(first_name) like '%' || upper(#{firstName}) || '%'
    </if>
    </where> 
 </sql>
 
 <select id="selectAll_COUNT" resultType="int">
  SELECT COUNT(*) FROM employees
  <include refid="criterio"></include>
</select>

  <select id="selectAll"
  resultType="EmployeeVO" >
   select * 
    from employees
    <include refid="criterio"></include>
  </select>
  
  <select id="selectOne">
  select * from employees
  where employee_id = #{employeeId}
  </select>
  
  <insert id="insert"
  parameterType="EmployeeVO">
   INSERT into employees(
   			   employee_id, 
   			   last_name, 
   			   email, 
   			   hire_date, 
   			   job_id) 
   VALUES (#{employeeId},
       	   #{lastName},
       	   #{email},
       	   #{hireDate},
       	   #{jobId})
  </insert>
  
  <update id="update">
   UPDATE employees 
	set first_name = #{firstName},
	salary = #{salary}
	where employee_id = #{employeeId}
  </update>
  
  <delete id="delete">
    DELETE FROM EMPLOYEES
	WHERE EMPLOYEE_ID = #{employeeId}
  </delete>
  
 </mapper>