<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/layout}"
>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
<style>
 .back{ background-color: yellowgreen;}
 .bold{font-weight:bold;}
 .red{color: red}
</style>
</head>
	<body>
	<div layout:fragment="content">
	
	<h1>사원목록</h1>
	<form th:object="${emp}" name="frm">
	<input type = "hidden" name="pageNum" value="1">
	departmentId: <input th:field = "*{departmentId}" >
	managerId:  <input th:field ="*{managerId}">
	firstName  <input th:field= "*{firstName}">
	<button type="reset"  class="btn btn-success">초기화</button>
	<button type="button" class="btn btn-dark">조회하기</button>
	</form>
	
	<a th:href="@{/emp/register}">등록</a>
		<table class="table">
			<tr>
			 <td>순번</td>
			 <td>사원번호</td>
			 <td>이름</td>
			 <td>급여</td>
			 <td>입사일자</td>
			 <td>보너스</td>
			 <td>수정</td>
			</tr>
				 <tr th:each="emp :${pageInfo.list}" th:class="${empStat.even} ? 'back' : _">
				 <td th:text=${empStat.count}></td>
				 <td th:text="${emp.employeeId}"></td>
				 <td><a th:text="${emp.firstName}" th:href="@{/emp/info(id=${emp.employeeId})}"></a></td>
				 <td th:text="${emp.salary}" class="bold"
				     th:classappend="${emp.salary > 10000} ? 'red' : _"></td>
				 <td th:text="${#dates.format(emp.hireDate, 'yyyy-MM-dd')}"></td>
				 <td>
				 <span th:if="${emp.salary > 10000}">있음</span> 
				 <span th:unless="${emp.salary > 10000}">없음</span>
				 </td>
				 <td><a th:href="@{/emp/update(id=${emp.employeeId})}">수정</a>
				 <td><a th:href="@{/emp/delete(id=${emp.employeeId})}">삭제</a>
				 </td>
			 </tr>
		</table>
		<div th:insert="~{layout/page :: page(${pageInfo})}"></div>
		<script th:inline= "javascript">
		let emplist = /*[[${list}]]*/[]  
		console.log(emplist[0].firstName)
		function gopage(pageNum) {
			frm.pageNum.value = pageNum;
			frm.submit();
		}
		
		</script>
	</div>
	</body>
</html>