<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div th:fragment="page(pageInfo)">
<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item" th:if="${pageInfo.hasPreviousPage}">
       <a class="page-link" href="#" th:onclick="gopage([[${pageInfo.prePage}]])">Previous</a></li>
    
    <li class="page-item" th:each="i : ${pageInfo.navigatepageNums}">
        <a class="page-link" href="#" th:onclick="gopage([[${i}]])">[[${i}]]</a></li>
   
    <li class="page-item" th:if="${pageInfo.hasNextPage}">
        <a class="page-link" href="#" th:onclick="gopage([[${pageInfo.nextPage}]])">Next</a></li>
  </ul>
</nav>
</div>
</body>
</html>